<mat-card style="margin: 0px 10px">
  <mat-card-content>
    <div style="display: flex">
      <div style="margin-right: 20px">
        <img [src]="userData.avatar" alt="user_avatar" />
      </div>
      <div>
        <p>
          <b>Name: </b>
          <span class="highlight" (click)="userEditEvent()">{{
            userData.name
          }}</span>
        </p>
        <p><b>Email: </b>{{ userData.email }}</p>
        <p><b>Age: </b>{{ userData.dob | age }}</p>
        <p><b>Country: </b>{{ userData.country }}</p>
      </div>
    </div>
  </mat-card-content>
</mat-card>
